#data{
	width: 200px;
	font-size: 12pt;
}
span.badge.new:after{
	content:""
}
button#btnEx{
	height: 25px;
}
#test1{
	width: 80%;
	margin: auto;
}
#itens{
	background: white;
	padding: 0px;
}

label.lbls{
	font-size: 11pt;
}
label.lbls.itens{
	margin-left: 20px;
}
#lblTotal{
	float: right;
}

#testeLista{
	display: block;	
}
